{% extends "base.html" %}
{% set active_page = "comments" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} – Comments{% endblock %}

{% block style %}

    .detailBox {
    border: 1px solid #bbb;
    }

    .titleBox {
    background-color: #fdfdfd;
    padding: 10px;
    }

    .titleBox label {
    color: #444;
    margin: 0;
    display: inline-block;
    }

    .commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
    }

    .taskDescription {
    margin-top: 10px;
    }

    .commentList {
    padding: 0;
    list-style: none;
    overflow: auto;
    }

    .commentList li {
    margin: 0;
    margin-top: 10px;
    }

    .commentList li > div {
    display: table-cell;
    }

    .commenterImage {
    position: relative;
    }

    .commentText p {
    margin: 0;
    }

    .sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
    }

    .actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
    }

    .commentPfp {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    }

{% endblock %}

{% block content %}


    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="comments">
        <div class="detailBox">
            <div class="titleBox">
                <label>Comment Box</label>
            </div>
            <div class="actionBox">
                <ul class="commentList">
                    {% for post in comments %}
                        <li>
                            <div class="commenterImage">
                                <img class=" img-profile rounded float-left commentPfp"
                                     src="{{ url_for('static', filename='profilepics/' + post.author.prof_pic) }}"
                                     alt="Profile Picture" style="position: relative; bottom:0px; left:0px;">
                            </div>
                            <div class="commentText align-top">
                                <p class="">{{ post.content }}</p>
                                <span class="date sub-text">By {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d at %H:%M:%S') }}</span>
                                {% if post.author == current_user %}
                                    <button type="button" class="btn" data-toggle="modal" title="Delete post?"
                                            data-target="#deleteModal"><span class="glyphicon glyphicon-square-remove">&times;</span>
                                    </button>



                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <form action="{{ url_for('delete_post', post_id=post.id) }}"
                                                          method="POST">
                                                        <input class="btn btn-danger" type="submit" value="Delete">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </li>
                    {% endfor %}

                </ul>
                {% if current_user.is_authenticated %}
                    <form class="" method="POST" action="/comments">
                        {{ form.csrf_token }}
                        {{ form.hidden_tag() }}
                        <div class="form-horizontal">
                            <div class="textboxer">{{ form.content(class="form-control") }}</div>
                            <span class="submitter form-horizontal">{{ wtf.form_field(form.submit) }}</span>


                        </div>

                    </form>
                {% else %}
                    <p style="margin-left: 15px;">You must be logged in to post a new comment.</p>
                    <a href="/login" class="btn btn-light">Click
                        here to login</a>
                {% endif %}
            </div>
        </div>
    </section>



{% endblock %}