{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% set active_page = "login" %}

{% block title %}{{ super() }} – Login{% endblock %}

{% block content %}




    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="login">
        <div class="w-100">
            <h2 class="mb-5">Login</h2>
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <form action="/login" method="post">
                        {{ form.csrf_token }}
                        {{ wtf.form_field(form.username) }}<br/>
                        {{ wtf.form_field(form.password) }}<br/>
                        {{ wtf.form_field(form.login) }}
                        <button type="button" class="btn btn-light">
                            <a href="/resetpassword">Forgot Password?</a>
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}