{% extends "base.html" %}
{% set active_page = "update" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} – Update{% endblock %}

{% block content %}


    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="update">
        <div class="w-100">
            <h2 class="mb-1">Update your info</h2>
            <h4 class="mb-5">Fill out only the information you wish to update.</h4>
            <div class="content-section">
                <form method="POST" action="/update" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ wtf.form_field(form.username) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.picture) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.password) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.password2) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.currentpassword) }}
                        </div>
                        <div class="form-group">
                            {{ wtf.form_field(form.submit) }}
                        </div>
                    </fieldset>

                </form>
            </div>

        </div>
    </section>


{% endblock %}

