{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% set active_page = "new" %}

{% block title %}{{ super() }} – New Page{% endblock %}

{% block content %}




    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="login">
        <div class="w-100">
            <form action="#" method="post">
   <div class="form-group">
       <label for="name">Title:</label>
       <input type="text" maxlength="100" name="name" placeholder="Title of the page">

       <button type="submit">Create</button>
   </div>
</form>
        </div>
    </section>

{% endblock %}