{% extends "base.html" %}
{% set active_page = "register" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} - Register{% endblock %}

{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="register">
        <div class="w-100">
            <h2 class="mb-5">Register a new account</h2>
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <div class="content-section">
                        <form method="POST" action="/register">
                            {{ form.csrf_token }}
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <div class="form-group">
                                    {{ wtf.form_field(form.username) }}
                                </div>
                                <div class="form-group">
                                    {{ wtf.form_field(form.email) }}
                                </div>
                                <div class="form-group">
                                    {{ wtf.form_field(form.password) }}
                                </div>
                                <div class="form-group">
                                    {{ wtf.form_field(form.password2) }}
                                </div>
                                <div class="form-group">
                                    {{ wtf.form_field(form.submit) }}
                                </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}