{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% set active_page = "reset" %}

{% block title %}{{ super() }} – Reset Your Password{% endblock %}

{% block content %}



    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="login">
        <div class="w-100">
            <h2 class="mb-5">Forgot your password?</h2>
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <form action="/resetpassword" method="post">
                        {{ form.csrf_token }}
                        {{ wtf.quick_form(form)}}
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}